<h3>Поступил запрос на обратный звонок.</h3>
<p>Имя клента: <strong>{{ name }}</strong></p>
<p>Телефон клента: <strong>{{ phone }}</strong></p>
<hr>
<p>{{ email.from[0].name }}</p>
<p>Referer:<strong>{{ referer }}</strong></p>
